<app-header></app-header>

<div id="card">
  <span> <i class="bi bi-x-circle"></i></span>
  <div class="card border-success mb-3" style="max-width: 18rem">
    <div class="card-header bg-transparent border-dashed">
      <strong>$1,820.<span>00</span> </strong>
      <p>You're paying with MTN - 0586550200</p>
    </div>
    <div class="card-body">
      <span>
        You will receive a prompt notification to authorize the payment with
        your PIN if you didn't receive the prompt notification, kindly :
      </span>

      <div class="stepper d-flex flex-column mt-5 ml-2">
        <div class="d-flex mb-1">
          <div class="d-flex flex-column pr-4 align-items-center">
            <div class="rounded-circle mb-1">1</div>
            <div class="line h-100"></div>
          </div>
          <div>
            <h5 class="text-dark">Dial *170#</h5>
          </div>
        </div>
        <div class="d-flex mb-1">
          <div class="d-flex flex-column pr-4 align-items-center">
            <div class="rounded-circle mb-1">1</div>
            <div class="line h-100"></div>
          </div>
          <div>
            <h5 class="text-dark">----> Wallet</h5>
          </div>
        </div>

        <div class="d-flex mb-1">
          <div class="d-flex flex-column pr-4 align-items-center">
            <div class="rounded-circle mb-1">3</div>
          </div>
          <div>
            <h5 class="text-dark">----> My Approval</h5>
          </div>
        </div>
      </div>

      <ol class="list-group list-group-numbered">
        <li class="list-group-item">
          After you authorize the payment with your PIN click on this bottom for
          your payment to be verified.
        </li>
      </ol>

      <h5 class="card-title">
        <i class="bi bi-caret-down-fill"></i>
        <div class="container">
          <div class="d-grid gap-2">
            <button class="btn" type="button">PAYMENT MADE</button>
          </div>
        </div>
      </h5>
    </div>
  </div>
</div>
<app-footer></app-footer>
