#card {
  display: flex;
  justify-content: center;
  position: relative;
  top: 6rem;

  .card {
    border-style: dashed;
    border-color: black;
    border-radius: 10px;
    height: 25.4rem;
  }
  .card-body {
    span {
      position: relative;
      bottom: 3px;
      text-align: center;
    }
  }
  .bi-x-circle {
    position: relative;
    z-index: 1;
    top: 0.5px;
    left: 18rem;
    font-size: 20px;
    font-weight: bold;
    cursor: pointer;
  }
  .card-header {
    background-color: white;
    border-bottom-style: dashed;
    border-color: black;
    padding-bottom: 0.8rem;

    strong {
      display: flex;
      justify-content: center;
      color: #002b43;
      font-weight: 900;
      position: relative;
      font-size: 30px;
      top: 8px;

      span {
        position: relative;
        top: 2px;
        font-size: 20px;
      }
    }
    p {
      position: relative;
      top: 16px;
      font-weight: 500;
      font-size: small;
      text-align: center;
    }
  }

  .card-body {
    span {
      position: relative;
      left: 12px;
      font-size: 12px;
    }
  }

  .btn {
    position: relative;
    bottom: 2.8rem;

    // margin-top: 50px;
    background-color: #101010;
    color: white;
    font-weight: 400;
    border-radius: 10px;
  }
}

.stepper {
  position: relative;
  left: 80px;
  bottom: 30px;

  .rounded-circle {
    width: 1rem;
    height: 1rem;
  }
  .text-dark {
    position: relative;
    left: 6px;
  }
  .line {
    width: 1.5px;
    background-color: #019877 !important;
  }
  .rounded-circle {
    background-color: #019877;
    color: #019877;
    font-weight: 600;
  }
  .lead {
    font-size: 1.1rem;
  }
}

.list-group {
  .list-group-item {
    position: relative;
    bottom: 1.9rem;
    font-size: 12px;
    background-color: #f31853;

    line-height: 13.5px;
  }
}
.bi-caret-down-fill {
  color: #f31853;
  font-size: 2rem;
  position: relative;
  bottom: 2.5rem;
  left: 5rem;
  width: 0;
  height: 0;
}
