<div class="header">
  <div>
    <img src="assets\images\logo.png" alt="" />
    <span>Federal Landscaping</span>
  </div>
</div>

<div id="card">
  <div class="card border-success mb-3" style="max-width: 21rem">
    <div class="card-header bg-transparent border-dashed">
      <strong>$1,820.<span>00</span> </strong>
      <p>You're paying with vodaphone - 0586550200</p>
    </div>

    <div class="card-body">
      <p>Kindly follow step below for completing your payment</p>
      <div class="stepper d-flex flex-column mt-5 ml-2">
        <div class="d-flex mb-1">
          <div class="d-flex flex-column pr-4 align-items-center">
            <div class="rounded-circle mb-1">1</div>
            <div class="line h-100"></div>
          </div>
          <div>
            <h5 class="text-dark">Dial *110#</h5>
          </div>
        </div>
        <div class="d-flex mb-1">
          <div class="d-flex flex-column pr-4 align-items-center">
            <div class="rounded-circle mb-1">1</div>
            <div class="line h-100"></div>
          </div>
          <div>
            <h5 class="text-dark">----> Withdraw cash</h5>
          </div>
        </div>
        <div class="d-flex mb-1">
          <div class="d-flex flex-column pr-4 align-items-center">
            <div class="rounded-circle mb-1">1</div>
            <div class="line h-100"></div>
          </div>
          <div>
            <h5 class="text-dark">----> From Agent</h5>
          </div>
        </div>
        <div class="d-flex mb-1">
          <div class="d-flex flex-column pr-4 align-items-center">
            <div class="rounded-circle mb-1">1</div>
            <div class="line h-100"></div>
          </div>
          <div class="text-span">
            <h5 class="text-dark">
              ----> Agent number : <span>576240574</span>
              <span class="copy1"
                ><i class="bi bi-clipboard2"></i>
                <span class="copy2">Copy</span></span
              >
            </h5>
            <h6>Noworri financial technology</h6>
          </div>
        </div>
        <div class="d-flex">
          <div class="d-flex flex-column pr-4 align-items-center">
            <div class="rounded-circle mb-1"></div>
          </div>
          <div>
            <h5 class="text-dark">
              ----> Enter the amount and valid with your PIN
            </h5>
          </div>
        </div>
      </div>

      <ol class="list-group list-group-numbered">
        <li class="list-group-item">
          After you authorize the payment with your PIN click on this bottom for
          your payment to be verified
        </li>
      </ol>

      <h5 class="card-title">
        <i class="bi bi-caret-down-fill"></i>
        <div class="container">
          <div class="d-grid gap-2">
            <button class="btn" type="button">PAYMENT MADE</button>
          </div>
        </div>
        <span><i class="bi bi-arrow-right-short"></i></span>
      </h5>
    </div>
  </div>
</div>
<app-footer></app-footer>
