<div class="header">
  <div>
    <img src="assets\images\logo.png" alt="" />
    <span>Federal Landscaping</span>
  </div>
</div>

<div id="card">
  <!-- <span> <i class="bi bi-x-circle"></i></span> -->
  <div class="card border-success mb-3" style="width: 18rem">
    <div class="card-header bg-transparent border-dashed">
      <strong>$1,820.<span>00</span> </strong>
      <p>You're paying with MTN - 0586550200</p>
    </div>
    <div class="card-body">
      <h5 class="card-title">
        <div class="container">
          <p>Request failled kindly retry</p>

          <div class="d-grid gap-2">
            <button class="btn" type="button" (click)="onRetryPayement()">
              RETRY PAYEMENT
            </button>
          </div>
          <span><i class="bi bi-arrow-right-short"></i></span>
        </div>
      </h5>
    </div>
  </div>
</div>
<app-footer></app-footer>
