.footer {
  display: flex;
  position: relative;
  top: 2.5rem;
  margin-left: 40px;
  justify-content: center;

  img {
    width: 45px;
    height: 45px;
    position: relative;
    right: 3px;
  }
  span {
    color: #b8b8b8;
    font-weight: 500;
  }
}
