.footer {
  display: flex;
  position: relative;
  top: 14px;
  margin-left: 40px;
  justify-content: center;
  .element {
    display: flex;
  }
  span {
    position: relative;
    top: 12px;
    right: 4px;
    color: #b8b8b8;
    font-weight: 500;
  }
}
