<app-header></app-header>
<div id="card">
  <span> <i class="bi bi-x-circle"></i></span>
  <div class="card border-success mb-3" style="max-width: 17rem">
    <div class="card-header bg-transparent border-dashed">
      <strong>$1,820.<span>00</span> </strong>
      <p>You're paying with MTN - 0586550200</p>
    </div>
    <div class="card-body">
      <h5 class="card-title">
        <div class="container">
          <p *ngIf="setDisplayText">Please dial *170# to allowed cash out</p>
          <div *ngIf="setDisplayLoader" class="d-flex justify-content-center">
            <div class="spinner-border" role="status">
              <span class="visually-hidden">Loading...</span>
            </div>
            <span>Loading</span>
          </div>
          <div class="d-grid gap-2">
            <button class="btn" (click)="onAllowCashout()" type="button">
              I have allowed cash out
            </button>
          </div>
          <span><i class="bi bi-arrow-right-short"></i></span>
        </div>
      </h5>
    </div>
  </div>
</div>
<app-footer></app-footer>
