#card {
  display: flex;
  justify-content: center;
  position: relative;
  top: 4rem;

  .card {
    border-style: dashed;
    border-color: black;
    border-radius: 10px;
    padding-bottom: 5.6rem;
  }
  .bi-x-circle {
    font-family: "Poppins";
    position: relative;
    z-index: 1;
    bottom: 0.5px;
    left: 18.1rem;
    font-size: 25px;
    font-weight: 900;
    cursor: pointer;
  }
  .card-header {
    background-color: white;
    border-bottom-style: dashed;
    border-color: black;
    padding-bottom: 2rem;

    strong {
      font-family: "Poppins";
      display: flex;
      justify-content: center;
      color: #002b43;
      font-weight: bold;
      position: relative;
      font-size: 30px;
      top: 10px;

      span {
        position: relative;
        top: 3.5px;
        font-size: 20px;
      }
    }
  }
  form {
    position: relative;
    top: 80px;
    select {
      font-family: "Poppins";
      border-style: dashed;
      background-color: #e9ecef;
      text-align: center;
      border-radius: 8px;
      font-size: 15px;
    }
    input {
      margin-top: 20px;
      border-radius: 8px;
      border-style: dashed;
    }
  }
  .btn {
    font-family: "Poppins";
    position: relative;
    top: 5.4rem;
    background-color: #101010;
    color: white;
    font-size: 15px;
    font-weight: 500;
    border-radius: 10px;
  }
}

.bi-arrow-right-short {
  position: relative;
  // bottom: 1.7rem;
  font-size: 20px;
  top: 103px;
  color: white;
  left: 12.7rem;
  font-weight: bold;
}

input::placeholder {
  text-align: center;
  line-height: 50px;
}

.d-grid {
  position: relative;
  top: 43px;
}

// @media (max-width: 576px) {
//   .bi-x-circle {
//     display: none;
//   }
//   .list-group {
//     display: flex;
//     justify-content: end;
//     align-items: flex-end;
//     .mobile-cancel {
//       display: flex;
//       text-align: center;
//       // width: 10rem;
//       background-color: transparent;
//       border-color: #f31853;
//       color: #f31853;
//       border-style: dashed;
//     }
//   }
// }
// @media (min-width: 576.1px) {
//   .list-group {
//     display: none;
//   }
// }
