<app-header></app-header>
<!-- <ul class="list-group">
  <button class="btn btn-primary btn-sm mobile-cancel" type="submit">
    Cancel payement
  </button>
</ul> -->
<div id="card">
  <span> <i class="bi bi-x-circle"></i></span>
  <div class="card border-success mb-3" style="width: 20rem">
    <div class="card-header bg-transparent border-dashed">
      <strong>$1,820.<span>00</span> </strong>
    </div>
    <div class="card-body">
      <h5 class="card-title">
        <div class="container">
          <form>
            <select class="form-select" aria-label="Default select example">
              <option value="">Select Network</option>
              <option value="mtn">MTN</option>
              <option value="aireteltigo">AIRTELTIGO</option>
              <option value="vodaphone">VODAPHONE</option>
            </select>

            <div class="mb-3">
              <input
                type="tel"
                pattern="/d*"
                class="form-control"
                id="exampleInputEmail1"
                placeholder="0544890460"
              />
            </div>
            <div class="mb-3"></div>
            <div class="mb-3 form-check"></div>
          </form>
          <div class="d-grid gap-2">
            <button (click)="onProceedCashOut()" class="btn" type="button">
              PROCEED
            </button>
          </div>
          <span><i class="bi bi-arrow-right-short"></i></span>
        </div>
      </h5>
    </div>
  </div>
</div>
<app-footer></app-footer>
